 #LineChart{
    float:left;
    width: 20vw
     height:20vh;
    margin-top:2vh;

  }

    #LineChart2{
    float:left;
    width: 20vw
     height:20vh;
   margin-top:2vh;

  }
    #LineChart3{
    float:left;
    width: 16vw
     height:20vh;
    margin-top:2vh;

  }
    #LineChart4{
    float:left;
    width: 20vw
     height:20vh;
    margin-top:2vh;

  }

   #TempLineChart{
    float:right;
    width: 20vw
     height:20vh;
    margin-top:2vh;
	margin-right:5vw

  }

   #PrepLineChart{
    float:right;
    width: 20vw
    height:20vh;
    margin-top:2vh;
	margin-right:5vw;

  }


 .lineChartBackground{
    background-color: cyan;
  }